
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-image:linear-gradient(pink ,white,skyblue);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            color: black; /* Google Blue */
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            color: #333;
        }

        .form-group button {
            background-color: #4285f4; /* Google Blue */
            color: #fff;
            padding: 10px 50px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .form-group button:hover {
            background-color: #3367d6; /* Darker Blue on hover */
        }
        form .text h3{
            color: #333;
            width: 100%;
            font-size: medium;
        }
        form .text h3 a{
            color: #4070f4;
            text-decoration: none;
        }
        form .text h3 a:hover{
            text-decoration: underline;
            color:red;
        }
    </style>
</head>
<body>
<div class="login-container">
    <h2 style="color: black;">Login</h2>
    <form action="/login" method="POST">
        <div class="form-group" style="display: flex">
            <img src="user.png" style="height: 35px; padding:5px;">
            <input type="email" id="email" name="email" placeholder="E-Mail"  required>
        </div>

        <div class="form-group" style="display: flex">
            <img src="password.png" style="height: 35px; padding:5px;">
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="text">
            <h3><a href="forgot">Forgot Password</a></h3>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
        <div class="text">
            <h3>New user ? <a href="resistration">Register now</a></h3>
        </div>
    </form>
</div>
</body>
</html>
