
<nav class="logo" >
        <div>
         <img src="logo.png" alt="Weather" width="50px" />
         <a><b style="mix-blend-mode:difference;
            color:white;">Weather</b></a>
        </div>
    <div>
        <a href="/resistration"><b style="mix-blend-mode:difference;
            color:white;padding:20px">Register ?</b>
        </a>
        <a href="/login"><b style="mix-blend-mode:difference;
            color:white;padding:20px">Login</b>
        </a>
    </div>
</nav>
